# IntelliJ project files
.idea
.env

# Visual Studio configs
.vs/

# Default dev GCL configuration file location
/src/DfT.DTRO/appsettings.Development.Serilog.Gcl.json

# Local adjustments in docker compose
docker-compose.override.yml
.DS_Store
*.lutconfig
*.user
/Src/Dft.DTRO.Admin/bin/Debug/net6.0/Dft.DTRO.Admin.dll
obj/
bin/