################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.lutconfig
/DfT.DTRO.sln.DotSettings.user
/Src/DfT.DTRO/bin
/Src/DfT.DTRO/bin/Debug/net6.0
/Src/DfT.DTRO/obj
/Src/Dft.DTRO.Tests/bin
/Src/Dft.DTRO.Tests/bin/Debug/net6.0
/Src/Dft.DTRO.Tests/obj
/Src/Dft.DTRO.Admin/bin
/Src/Dft.DTRO/Admin/bin/Debug/net6.0
/Src/Dft.DTRO.Admin/obj
/.vs
/Src/Dft.DTRO.Admin/obj/Debug/net6.0/ref/Dft.DTRO.Admin.dll
/Src/Dft.DTRO.Admin/bin/Debug/net6.0/Dft.DTRO.Admin.dll
/Src/Dft.DTRO.Admin/bin/Debug/net6.0/Dft.DTRO.Admin.exe
/Src/Dft.DTRO.Admin/bin/Debug/net6.0/Dft.DTRO.Admin.pdb
/Src/Dft.DTRO.Admin/obj/Debug/net6.0/refint/Dft.DTRO.Admin.dll
/Src/Dft.DTRO.Admin/obj/Debug/net6.0/apphost.exe
/Src/Dft.DTRO.Admin/obj/Debug/net6.0/Dft.DTRO.Admin.dll
/Src/Dft.DTRO.Admin/obj/Debug/net6.0/Dft.DTRO.Admin.pdb
/Src/Dft.DTRO.Admin/obj/Debug/net6.0/Dft.DTRO.Admin.sourcelink.json
/Src/Dft.DTRO.Admin/obj/Debug/net6.0/Dft.DTRO.Admin.AssemblyInfoInputs.cache

/Src/Dft.DTRO.Admin/obj/Debug/net6.0/Dft.DTRO.Admin.assets.cache
/Src/Dft.DTRO.Admin/obj/Debug/net6.0/Dft.DTRO.Admin.GeneratedMSBuildEditorConfig.editorconfig


/Src/Dft.DTRO.Admin/bin/Debug/net6.0/Dft.DTRO.Admin.staticwebassets.runtime.json
/Src/Dft.DTRO.Admin/obj/Debug/net6.0/Dft.DTRO.Admin.csproj.FileListAbsolute.txt
/Src/Dft.DTRO.Admin/obj/Debug/net6.0/project.razor.vs.bin
/.idea/.idea.DfT.DTRO/.idea
/.idea/
/.github/temp_storge_of_tf_files/.gitignore
/terraform/.terraform.lock.hcl
/Src/DfT.DTRO/Logs
/DfT.DTRO.slnLaunch.user
/apigee/openApi/apds.yaml