################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.lutconfig
/DfT.DTRO.sln.DotSettings.user
/Src/DfT.DTRO/bin/
/Src/DfT.DTRO/bin/Debug/net6.0/
/Src/DfT.DTRO/obj/
/Src/Dft.DTRO.Tests/bin/
/Src/Dft.DTRO.Tests/bin/Debug/net6.0/
/Src/Dft.DTRO.Tests/obj/
/Src/DfT.DTRO/.vs/DfT.DTRO/
/Src/DfT.DTRO/.vs/DfT.DTRO/xs/project-cache/
/Src/DfT.DTRO/.vs/DfT.DTRO/xs/project-cache/DfT.DTRO-Debug.json
/Src/DfT.DTRO/.vs/
/Src/DfT.DTRO/.vs/DfT.DTRO/xs/UserPrefs.xml
/Src/DfT.DTRO.IntegrationTests/bin/
/Src/DfT.DTRO.IntegrationTests/obj/

/.idea/.idea.DfT.DTRO/.idea
/.idea/
/.github/temp_storge_of_tf_files/.gitignore
/terraform/.terraform.lock.hcl
/Src/DfT.DTRO/Logs
/DfT.DTRO.slnLaunch.user
/apigee/openApi/apds.yaml
/Src/DfT.DTRO/DfT.DTRO.sln
/.vs
/Src/.vs/DfT.DTRO/v17/.suo
/Src/.vs/DfT.DTRO/v17/DocumentLayout.backup.json
/Src/.vs/DfT.DTRO/v17/DocumentLayout.json
/Src/.vs/DfT.DTRO
/Src/DfT.DTRO.sln.DotSettings.user
/Src/.vs/ProjectEvaluation
/Src/.idea/.idea.DfT.DTRO/.idea/.name
/Src/.idea/.idea.DfT.DTRO/.idea/indexLayout.xml
/Src/.idea/.idea.DfT.DTRO/.idea/projectSettingsUpdater.xml
/Src/.idea/.idea.DfT.DTRO/.idea/vcs.xml
/Src/.idea/.idea.DfT.DTRO/.idea/workspace.xml

.env
/Src/DfT.DTRO.IntegrationTests/obj
/Src/DfT.DTRO.IntegrationTests/bin/Debug/net6.0
/Src/Dft.DTRO.Admin/obj/Debug/net6.0
/DfT.DTRO.DatabaseFeeder/bin/Debug/net8.0
/DfT.DTRO.DatabaseFeeder/obj

**/TestResults
**/TestReports
**/Coverage
**/temp