@using Dft.DTRO.Admin.Services
@inject ISystemConfigService SystemConfigService
@inject IDtroUserService DtroUserService
@{
    var systemConfig = await SystemConfigService.GetSystemConfig();
    var systemName = systemConfig.SystemName;
    var userName = systemConfig.CurrentUserName;
    var user = await DtroUserService.GetDtroUserAsyncByXAppId(systemConfig.xAppId);
    var isAdmin = user.UserGroup == UserGroup.Admin;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="google" content="notranslate">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Department Of Transport DTRO Service UI - @systemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        .brand-container {
            text-align: center;
            line-height: 0.6; /* Adjust the line-height to control vertical spacing */
        }

        .small-font {
            font-size: 0.6em; /* Adjust the font size as needed */
        }

        .nav-link {
            transition: text-decoration 0.3s ease; /* Smooth transition for the underline effect */
        }

            .nav-link:hover {
                text-decoration: underline; /* Underline the text on hover */
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <div class="brand-container">
                        D-TRO Admin<br>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/SchemaOverview">Schema</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Search">Dtro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/DtroUserList">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Metrics">Metrics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/SystemConfigEdit">Configuration</a>
                        </li>
                    </ul>
                    <span >@userName (@systemName)</span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted p-3 fixed-bottom">
        <div class="container text-center">
            &copy; 2024 Department Of Transport
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
