@page
@model DtroEditModel
@{
    string id = Request.Query["id"];
}

<h2>Assign Dtro</h2>


<form id="searchSection" method="post" enctype="multipart/form-data"  asp-page-handler="Post" style="display: flex;margin-top:20px;">
    <input type="hidden" name="id" value="@id" />

    <div>
        @await Html.PartialAsync("_TraSearchPartial", Model.DtroUserSearch)
    </div>
</form>
