html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.single-line-label {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow if text is too long */
    text-overflow: ellipsis; /* Add ellipsis if text is too long */
}


.drop-area {
    width: 270px;
    height: 270px;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0; /* Optional: Adds some margin around the drop area */
}

.drop-area-inner {
    width: 100%;
    height: 100%;
    border: 2px dashed grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    color: grey;
}

.drop-area.dragover {
    background-color: #cbc3c3;
}

.select-items {
    max-height: 150px; /* Adjust height as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
}

.item {
    padding: 8px;
    cursor: pointer;
}

    .item:hover {
        background-color: #f0f0f0;
    }

.selected-InList {
    background-color: #cfe2ff; /* Pastel blue background color */
    color: #333; /* Darker text color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Light shadow */
    border-radius: 3px; /* Rounded corners */
    /* Add any other styling you want for the selected item */
}

.options-container {
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fbfbfb;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    width: 350px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 420px;
}

.options-container label {
    margin-bottom: 0;
}

#numberSelect {
    width: 50px; /* Adjust width as needed */
}

.rounded-box {
    width: 420px;
    background-color: #fbfbfb; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px;
}