name: Deploy Resources

on:
  workflow_call:
    secrets:
      workload_identity_provider:
        required: true
      wip_service_account:
        required: true
      execution_service_account:
        required: true
      service_ui_client_id:
        required: true
      service_ui_client_secret:
        required: true
      gcp_project_number:
        required: true
    inputs:
      gcp-project-id:
        type: string
        required: true
      gcp-project:
        type: string
        required: true
      gcp-region:
        type: string
        required: true
      environment:
        type: string
        required: true
      dtro-image-name:
        type: string
        required: true
      dtro-image-tag:
        type: string
        required: true
      service-ui-image-name:
        type: string
        required: true
      service-ui-image-tag:
        type: string
        required: true
      do-validation-checks:
        type: boolean
        required: false
        default: false
      run-build-push:
        type: boolean
        description: Run Build and Push job?
        required: false
        default: false
      run-deploy-CR-job:
        type: boolean
        description: Run deploy Cloud Run job?
        required: false
        default: false
      run-apigee:
        type: boolean
        description: Run Apigee job?
        required: false
        default: false

env:
  TF_VAR_tf_state_bucket: dft-d-tro-terraform-${{ inputs.environment }}
  TF_VAR_environment: ${{ inputs.environment }}
  TF_VAR_region: ${{ inputs.gcp-region }}
  TF_VAR_project_id: ${{ inputs.gcp-project-id }}
  TF_VAR_execution_service_account: ${{ secrets.execution_service_account }}
  TF_VAR_artifact_registry_dtro_image_path: ${{ inputs.gcp-region }}-docker.pkg.dev/${{ inputs.gcp-project-id }}/${{ inputs.gcp-project }}-repository/${{ inputs.dtro-image-name }}
  TF_VAR_artifact_registry_service_ui_image_path: ${{ inputs.gcp-region }}-docker.pkg.dev/${{ inputs.gcp-project-id }}/${{ inputs.gcp-project }}-ui-repository/${{ inputs.service-ui-image-name }}
  TF_VAR_dtro_service_image: ${{ inputs.dtro-image-name }}
  TF_VAR_service_ui_image: ${{ inputs.service-ui-image-name }}
  TF_VAR_dtro_tag: ${{ inputs.dtro-image-tag }}
  TF_VAR_service_ui_tag: ${{  inputs.service-ui-image-tag }}
  TF_VAR_cloud_run_service_ui_client_id: ${{ secrets.service_ui_client_id }}
  TF_VAR_cloud_run_service_ui_client_secret: ${{ secrets.service_ui_client_secret }}
  cloud_url: https://dtro-${{ inputs.environment }}-${{ inputs.dtro-image-name }}-${{ secrets.gcp_project_number }}.${{ inputs.gcp-region }}.run.app

permissions:
  contents: read
  packages: read
  actions: read

jobs:
  build-push-dtro:
    if: ${{ inputs.run-build-push }}
    name: Build and Push DTRO Application to Artifact Registry - ${{ inputs.environment }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: read
      actions: read
      pull-requests: write
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: dft-dtro-beta

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3.3.0

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.workload_identity_provider }}
          service_account: ${{ secrets.wip_service_account }}

      - name: Authenticate Docker with the Artifact Registry repository
        run: gcloud auth configure-docker europe-west1-docker.pkg.dev

      - name: Build and push DTRO Docker image to Artifact Registry
        uses: docker/build-push-action@v6.1.0
        with:
          context: dft-dtro-beta/Src/DfT.DTRO
          platforms: linux/amd64
          push: true
          provenance: false
          tags: ${{ env.TF_VAR_artifact_registry_dtro_image_path }}:${{ env.TF_VAR_dtro_tag }}

      - name: Build and push Service Portal Docker image to Artifact Registry
        uses: docker/build-push-action@v6.1.0
        with:
          context: dft-dtro-beta/Src/Dft.DTRO.Admin
          platforms: linux/amd64
          push: true
          provenance: false
          tags: ${{ env.TF_VAR_artifact_registry_service_ui_image_path }}:${{ env.TF_VAR_service_ui_tag }}

  deploy-dtro:
    if: ${{ inputs.run-deploy-CR-job }}
    name: Deploy DTRO Application to Cloud Run - ${{ inputs.environment }}
    needs:
      - build-push-dtro
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: read
      actions: read
      pull-requests: write
    defaults:
      run:
        shell: bash
        working-directory: terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.workload_identity_provider }}
          service_account: ${{ secrets.wip_service_account }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.9.0"

      - name: Terraform Format
        if: ${{ inputs.do-validation-checks }}
        run: terraform fmt -check -recursive

      - name: terraform validate
        if: ${{ inputs.do-validation-checks }}
        uses: dflook/terraform-validate@v1

      - name: Checkov GitHub Action
        if: ${{ inputs.do-validation-checks }}
        uses: bridgecrewio/checkov-action@v12
        with:
          skip_check: ${{ inputs.checkov-skip-check }}
          output_format: github_failed_only
          output_file_path: console

      - name: Terraform Init
        run: |
          terraform init \
          -backend-config "bucket=${{env.TF_VAR_tf_state_bucket}}" \
          -backend-config "prefix=terraform/cloudrun-state"

      - name: Terraform Plan
        run: terraform plan -input=false -out terraform-plan-gcp-cr

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false terraform-plan-gcp-cr

  build-apigee-proxies-and-products:
    if: ${{ inputs.run-apigee }}
    name: Build GCP Apigee proxies and products in ${{ inputs.environment }}
    needs:
      - deploy-dtro
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: read
      actions: read
      pull-requests: write
    defaults:
      run:
        shell: bash
        working-directory: apigee
    env:
      name_prefix: dtro-${{ inputs.environment }}-apigee
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set executable permissions for environment script
        run: chmod +x environments/*

      - name: Load Env Vars for Apigee script
        run: ./environments/load_environment_variables.sh
        env:
          github_ref: ${{ github.ref }}
          environment: ${{ inputs.environment }}
          env_name_prefix: ${{ inputs.environment }}
          service: ${{ inputs.dtro-image-name }}
          cloud_url: ${{ env.cloud_url  }}
          service_account: ${{ secrets.wip_service_account }}
          apigee_organisation: ${{ inputs.gcp-project-id }}

      - name: Authenticate to Google Cloud
        id: google-auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.workload_identity_provider }}
          service_account: ${{ secrets.wip_service_account }}
          token_format: access_token

      - name: Set up ApigeeCLI
        run: |
          curl -L https://raw.githubusercontent.com/apigee/apigeecli/main/downloadLatest.sh | sh
          echo "$HOME/.apigeecli/bin" >> $GITHUB_PATH

      - name: Make scripts directory executable
        run: chmod +x portals/*

      - name: Delete Oldest Revision
        shell: bash
        run: |
          revision_list=($(apigeecli apis list --incl --token ${{ steps.google-auth.outputs.access_token }} --org "$apigee_organisation" | jq -r --arg proxy_name "dtro-${env}-server" '.proxies[] | select(.name == $proxy_name) | .revision[]'))
          revision_count=${#revision_list[@]}
          if [ "$revision_count" -ge 200 ]; then
            smallest_revision_1=$(printf "%s\n" "${revision_list[@]}" | sort -n | head -n 1)
            smallest_revision_2=$(printf "%s\n" "${revision_list[@]}" | sort -n | head -n 2 | tail -n 1)
            echo "There are $revision_count revisions. A maximum of 200 revisions(system max of 250) are allowed, therefore the oldest two revisions ($smallest_revision_1 and $smallest_revision_2) will be deleted."

            echo "Deleting revision: $smallest_revision_1"
            apigeecli apis delete --name "dtro-${env}-server" --rev $smallest_revision_1 --token ${{ steps.google-auth.outputs.access_token }} --org "$apigee_organisation" --no-output
            echo "Revision $smallest_revision_1 deleted"

            echo "Deleting revision: $smallest_revision_2"
            apigeecli apis delete --name "dtro-${env}-server" --rev $smallest_revision_2 --token ${{ steps.google-auth.outputs.access_token }} --org "$apigee_organisation" --no-output
            echo "Revision $smallest_revision_2 deleted"

            echo "Revisions $smallest_revision_1 and $smallest_revision_2 for dtro-${env}-server deleted."
          fi

      - name: Deploy Proxy
        run: apigeecli apis create oas --name "dtro-${env}-server" --oas-base-folderpath openApi --oas-name openapi3_0.yaml --target-url $target_url --basepath /v1 --add-cors=true --token ${{ steps.google-auth.outputs.access_token }} --org "$apigee_organisation" --ovr --wait=true

      - name: Get Proxy Bundle
        run: |
          apigeecli apis export --token ${{ steps.google-auth.outputs.access_token }} --org "$apigee_organisation"
          unzip "dtro-${env}-server.zip"

      - name: Add Header Policy
        run: |
          cp policies/AM-Set-App-Id-Header.xml apiproxy/policies/AM-Set-App-Id-Header.xml
          gawk -i inplace '/<PostFlow name="PostFlow">/ { print; getline; print "   <Request>\n      <Step>\n        <Name>AM-Set-App-Id-Header</Name>\n      </Step>\n   </Request>"; next } 1' apiproxy/proxies/default.xml
          gawk -i inplace '/<Policies>/ { print $0 "\n        <Policy>AM-Set-App-Id-Header</Policy>"; next } 1' apiproxy/dtro-${env}-server.xml

          cp policies/AM-Set-Http-Security-Header.xml apiproxy/policies/AM-Set-Http-Security-Header.xml
          gawk -i inplace '/<PostFlow name="PostFlow">/,/<\/PostFlow>/ { if (/^ *<Response><\/Response>/) { print "  <Response>\n      <Step>\n        <Name>AM-Set-Http-Security-Header</Name>\n      </Step>\n   </Response>"; next } } 1' apiproxy/proxies/default.xml
          gawk -i inplace '/<Policies>/ { print $0 "\n        <Policy>AM-Set-Http-Security-Header</Policy>"; next } 1' apiproxy/dtro-${env}-server.xml

      - name: Update CORS policy
        run: |
          cp policies/Add-CORS.xml apiproxy/policies/Add-CORS.xml
          target_file="apiproxy/policies/Add-CORS.xml"
          sed -i "s#<AllowOrigins>TRUSTED_DOMAIN_TO_UPDATE</AllowOrigins>#<AllowOrigins>${trusted_domain}</AllowOrigins>#" "$target_file"
          echo "Updated file: $target_file"

      - name: Add Spike Arrest Rate Limiting
        run: |
          cp policies/SA-Rate-Limiting.xml apiproxy/policies/SA-Rate-Limiting.xml
          gawk -i inplace '/<Request>/ && c == 0 { c=1; print; print "      <Step>\n        <Name>SA-Rate-Limiting</Name>\n      </Step>"; next } 1' apiproxy/proxies/default.xml
          gawk -i inplace '/<Policies>/ { print $0 "\n        <Policy>SA-Rate-Limiting</Policy>"; next } 1' apiproxy/dtro-${env}-server.xml

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Create OAuth Policies
        run: |
          pip install -r python/requirements.txt
          python python/update-oauth-flows.py "openApi/openapi3_0.yaml" apiproxy/proxies/default.xml
          python python/generate-oauth-polices.py apiproxy/policies/OAuth-v20-1.xml "cso","dsp","dc" "oauth" apiproxy/dtro-${env}-server.xml
          cp -a oauth/* apiproxy/policies

      - name: Copy Target Folder
        shell: bash
        run: |
          cp -a targets/* apiproxy/targets

      - name: Create Service XML
        shell: bash
        run: |
          echo "Service: $service, URL: $cloud_url"

          # Define the target XML file based on the service name
          xml_file="apiproxy/targets/default.xml"

          # Replace the placeholder <Server name="ENV_TO_UPDATE-target-server"/> with the appropriate environment value
          sed -i "s#<Server name=\"ENV_TO_UPDATE-target-server\"/>#<Server name=\"dtro-${env}-target-server\"/>#" "$xml_file"

          # Replace the placeholder <Audience>CLOUD_RUN_URL_TO_UPDATE</Audience> with the actual Cloud Run URL
          sed -i "s#<Audience>CLOUD_RUN_URL_TO_UPDATE</Audience>#<Audience>${cloud_url}</Audience>#" "$xml_file"

          echo "Updated file: $xml_file"

      - name: Add Proxy Route Rules
        shell: bash
        run: |
          sed '/<RouteRule name="default">/,/<\/RouteRule>/d' apiproxy/proxies/default.xml > apiproxy/proxies/temp.xml
          awk 'NR==FNR{a=a $0 ORS; next} /<\/ProxyEndpoint>/{print a} 1' proxies/default.xml apiproxy/proxies/temp.xml > apiproxy/proxies/default.xml
          rm apiproxy/proxies/temp.xml

      - name: Create API bundle
        run: zip -r proxy.zip apiproxy

      - name: Upload and Deploy API Proxy Bundle
        run: apigeecli apis create bundle --name "dtro-${env}-server" --proxy-zip proxy.zip --env "${{ env.name_prefix }}-environment" --sa sa-execution@${apigee_organisation}.iam.gserviceaccount.com --token ${{ steps.google-auth.outputs.access_token }} --org "$apigee_organisation" --ovr --wait=true

      - name: Create Products
        if: ${{ inputs.environment != 'prod' }}
        run: |
          sed -i "s/ENV/${env}/g" products/products.json
          apigeecli products import -f products/products.json --token ${{ steps.google-auth.outputs.access_token }} --org "$apigee_organisation" --upsert

      - name: Publish Products to Developer Portal
        run: portals/publish_product_to_portal.sh ${{ steps.google-auth.outputs.access_token }}
