name: Deploy to Production

on:
  push:
    tags:
      - release-*

jobs:
  wait-for-approval:
     name: Wait for issue approval from stakeholders
     runs-on: ubuntu-latest
     steps:
      - name: Extract Release Version
        id: releasev
        run: |
          echo "Extracting release version..."
          original_string=${{github.ref}}
          substring="${original_string#refs/tags/}"
          release="${substring##*release-}"
          echo "release is ${release}"
          echo "RELEASE=${release}" >> "$GITHUB_OUTPUT"

      - name: Create GitHub issue
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: VinP-PA,stm-john-cooper,GaTilley,MehrajRM #TODO: Update when full list is available
          minimum-approvals: 1
          issue-title: "Deploying Application version ${{steps.releasev.outputs.RELEASE}} to Prod"
          issue-body: "Approving this issue will deploy Application release version '${{steps.releasev.outputs.RELEASE}}' to the Production environment."
          exclude-workflow-initiator-as-approver: false

  deploy-production:
    name: Application - Deploy to Production
    uses: ./.github/workflows/deploy_resources.yml
    needs:
      - wait-for-approval
    secrets:
      workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER_PROD }}
      wip_service_account: ${{ secrets.WIP_SERVICE_ACCOUNT_PROD }}
      execution_service_account: ${{ secrets.EXECUTION_SERVICE_ACCOUNT_PROD }}
      service_ui_client_id: ${{ secrets.CSO_CLIENT_ID_PROD }}
      service_ui_client_secret: ${{ secrets.CSO_CLIENT_SECRET_PROD }}
      gcp_project_number: ${{ secrets.GCP_PROJECT_NUMBER_PROD }}
    with:
      gcp-project-id: ${{ vars.GCP_PROJECT_ID_PROD }}
      gcp-project: ${{ vars.GCP_PROJECT_ID_PROD }}
      gcp-region: ${{ vars.DEFAULT_GCP_REGION }}
      environment: prod
      dtro-image-name: ${{ vars.DTRO_IMAGE_NAME }}
      dtro-image-tag: ${{ vars.DTRO_IMAGE_TAG }}
      service-ui-image-name: ${{ vars.DTRO_SERVICE_UI_IMAGE_NAME }}
      service-ui-image-tag: ${{ vars.DTRO_SERVICE_UI_IMAGE_TAG }}
      run-build-push: true
      run-deploy-CR-job: true
#      run-apigee: false #TODO: Default value when no major endpoint or OAuth changes have been made
      run-apigee: true
